<%= form_with(model: @blog, local: true, url: blogs_path) do |f| %>
  <%= f.hidden_field :content %>
  <%= f.hidden_field :image_cache %>
  <%= image_tag(@blog.image.url, class: "image_tag") if @blog.image &&@blog.image_url %>
  <p class ="comment">コメント：<%= @blog.content %></p>
  <%= f.submit "新規投稿", name: "commit", data: {disable_with:"editting･･･"}, class: "btn btn-outline-primary" %>
  <%= f.submit "戻る", name: "back", data: {disable_with:"backing･･･"}, class: "btn btn-outline-secondary"  %>
<% end %>
