<h2>投稿を編集する</h2>
<%= form_with(model: @blog, local: true, url: blog_path ) do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="blog_title">
    <%= f.label :コメント %>
    <br><%= f.text_area :content %><br>
    <br><%= f.label :投稿画像 %>
    <br><%= image_tag @blog.image.url, class: "image_tag" %>
    <br><%= f.file_field :image %>
  </div>
  <input type="submit" name="commit" value="edit" data-disable-with="editting･･･">
<% end %>
<div class="btn-wrapper">
  <button class="btn btn-warning">
    <%= link_to '投稿を削除する', blog_path(@blog.id), method: :delete ,
    data: { confirm: '本当に削除していいですか？' } %>
  </button>
</div>
