<%= form_with(model: @blog, local: true, url: blog_path ) do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="blog_wrapper">
    <%= image_tag @blog.image.url, class: "image_tag" %>
    <%= f.file_field :image %>
    <%= f.text_area :content, class: "content_area"%>
  </div>
  <%= f.submit "投稿を編集", name: "commit", data: {disable_with:"editting･･･"}, class: "btn btn-outline-warning" %>
  <%= link_to '投稿を削除', blog_path(@blog.id), method: "delete" ,class: "btn btn-danger",
  data: { confirm: '本当に削除していいですか？' } %>
<% end %>
