<h1>投稿詳細</h1>
<%= image_tag(@blog.image.url, class: "image_tag") %>
<br><%= @blog.content %><br>
<% unless @blog.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to favorite_path(id: @favorite.id), method: :delete do %>
      <span class="fa fa-heart unfavorite-btn"></span>
    <% end %>
  <% else %>
    <%= link_to favorites_path(blog_id: @blog.id), method: :post do %>
      <span class="fa fa-heart favorite-btn"></span>
    <% end %>
  <% end %>
<% else %>
  <% if @favorite_count == 0 %>
    <span class="fa fa-heart favorite-btn"></span>
  <% else %>
    <span class="fa fa-heart unfavorite-btn"></span>
  <% end %>
<% end %>
<%= @favorite_count %>
<% if @blog.user_id == @current_user.id%>
  <%= link_to '編集する', edit_blog_path(@blog.id) %>
<% end %>
